<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create category</title>
</head>
<body>
    <h2>Product qo'shish</h2>
    <form action="/create-product" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required><br>
        <input type="number" name="category_id" placeholder="Category" required><br>
        <input type="number" name="price" placeholder="Price" required><br>
        <textarea name="text" placeholder="Text" rows="5" cols="40"></textarea><br>
        <input type="text" name="address" placeholder="address" required><br>

        <button type="submit">Qo'shish</button>
    </form>
</body>
</html>