<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', path='assets/css/register.css') }}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            {#  login#}
            {% if error2 %}
                <div class="alert alert-danger text-center">
                    {{ error2 }}
                </div>
            {% endif %}
            <form action="/login" class="login">
                <div class="field">
                    <input type="text" name="gmail" placeholder="Email Address" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="pass-link"><a href="#">Forgot password?</a></div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">Not a member? <a href="">Signup now</a></div>
            </form>

            {#  register#}

            {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error }}
                </div>
            {% endif %}
            <br>
            <form action="/register" class="signup" method="post">
                <div class="field">
                    <input type="email" name="gmail" placeholder="Email Address" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="field">
                    <input type="password" name="confirm_password" placeholder="Confirm password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', path='assets/js/register.js') }}"></script>

</body>
</html>